/*Fondo de la calculadora*/
body {
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    font-family: 'Segoe UI', sans-serif;
}
/* Botones */
button {
    height: 80px;
    width: 80px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
/* Centrado de la tabla */
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px; /* separa un poco los botones */
}

/* area de texto del resultado donde se muestra el resultado de la calculadora*/
textarea {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px;
    width: 260px;
    height: 60px;
    font-size: 1.2rem;
    text-align: right;
    background-color: #212121;
    color: #76ff03;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}
/* botones secundarios y efectos visuales al pasar el cursor */
/* cambio de color y ligera ampliacion */
/* Hover de los botones grises */
.btn-secondary:hover {
    background-color: #546e7a;
    transform: scale(1.05);
}

/* Boton igual azul y tambien incluye efecto de hover */
.btn-primary {
    background-color: #1565c0;
    border: none;
}
.btn-primary:hover {
    background-color: #0d47a1;
    transform: scale(1.08);
}

/* Boton limpiar rojo de igual froma tiene efecto hover */
.btn-danger {
    background-color: #e53935;
    border: none;
}
.btn-danger:hover {
    background-color: #c62828;
    transform: scale(1.08);
}